<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app">
      <button type="button" class="btn btn-primary btn-lg" v-on:click="add()">Add Players</button>
      <circket-players
        v-bind:players="players"
        v-on:edit="edit"
        v-on:delete="onDelete"
      ></circket-players>
      <div
        class="modal fade"
        id="cricketModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="cricketModalLabel">Cricket</h5>
            </div>
            <div class="modal-body">
              <form class="justify-content-center">
                <div class="form-group row">
                  <label for="txtFirstName" class="col-sm-2 col-form-label"
                    >FirstName</label
                  >
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      id="txtFirstName"
                      placeholder="First Name"
                      v-model="updatePlayer.firstName"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="txtLastName" class="col-sm-2 col-form-label"
                    >Last Name</label
                  >
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      id="txtLastName"
                      placeholder="Last Name"
                      v-model="updatePlayer.lastName"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="txtCurrentAge" class="col-sm-2 col-form-label"
                    >Current Age</label
                  >
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      id="txtCurrentAge"
                      placeholder="Current Age"
                      v-model="updatePlayer.currentAge"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="txtTeams" class="col-sm-2 col-form-label"
                    >Major Teams</label
                  >
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      id="txtTeams"
                      placeholder="Teams"
                      v-model="updatePlayer.teams"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="txtPlayingRole" class="col-sm-2 col-form-label"
                    >Playing Role</label
                  >
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      id="txtPlayingRole"
                      placeholder="Playing Role"
                      v-model="updatePlayer.playingRole"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="txtBattingStyle" class="col-sm-2 col-form-label"
                    >Batting Style</label
                  >
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      id="txtBattingStyle"
                      placeholder="Batting Style"
                      v-model="updatePlayer.battingStyle"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="txtBowlingStyle" class="col-sm-2 col-form-label"
                    >Bowling Style</label
                  >
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      id="txtBowlingStyle"
                      placeholder="Bowling style"
                      v-model="updatePlayer.bowlingStyle"
                    />
                  </div>
                </div>
                
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Cancel
              </button>
              <button type="button" class="btn btn-primary" v-on:click="saveOrUpdate">Save</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exlabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confrimation</h5>
              </div>
              <div class="modal-body">
                <h4>Are you sure you want to delete this player?</h4>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" v-on:click="deletePlayerData()">Delete</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    
    

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
